<IfModule mod_headers.c>
  Header set Permissions-Policy "accelerometer=(self), gyroscope=(self)"
  <FilesMatch "\.(html|js|css|json)$">
    Header set Cache-Control "public, max-age=0, must-revalidate, no-transform"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>
